.home_box{
    width: 100vw;
    height: 100vh;
    background: #dadada;
  }
  .title{
    font-weight: 600;
  }
  
  .testListArea{
    margin-top: 120px;
    width: 20%;
    height: 500px;
    padding: 10px;
    border-radius:  20px;
    border: 1px solid black;
    background: white;
  }

  .testItem{
    margin-top: 10px;
    padding: 10px;
    border-radius:  20px;
    border: 1px solid black;
    background: #f0f0f0;
  }